.container2{
    padding-top:200px;
    text-align: -webkit-center;
    width: 15%;
    padding:20px 16px;
    height: 100%;
    
}
.bg-success2{
  background-image: url("https://c.tenor.com/mGsydEoS7OwAAAAd/end-mod.gif"); 
  background-position: center 25%; 
  background-size: cover;
  padding:100px 100px;
}
.color22{
  background: -webkit-linear-gradient(90deg,  #EF9B8D 20%, #EF9B8D 85%)
}
.redondeado {
    border-radius: 5px;
    align-items: start;
    width: 250px;
  }
  nav.mainNav {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    
}